* {
  box-sizing: border-box;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(142, 142, 142);
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-nav {
  display: flex;
  gap: 15px;
}
